.header {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 200;
    width: 100%;
    padding: 2.5rem 0;

    & .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }

    &__menu {
        height: 3rem;
        width: 5rem;
        cursor: pointer;

        &--line {
            background-color: $color-black;
            height: 2px;
            width: 100%;

            &:not(:last-child) {
                margin-bottom: 1rem;
            }

            &:last-child {
                width: 50%;
            }
        }
    }
}