.nav {
    & ul {
        display: flex;
        list-style: none;
    }

    & li {

        &:not(:last-child) {
            margin-right: 2.5rem;
        }
    }

    & a {
        color: $color-black;
        display: inline-flex;
        align-items: center;
        font-size: 1.8rem;
        font-weight: 300;
        text-transform: uppercase;

        & img {
            display: inline-block;
            margin-left: 1.2rem;
        }
    }
}