.slide {
    position: relative;
    height: 100%;
    width: 100%;

    &__item {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &--img {
        margin-bottom: 5rem;
    }

    &--detail {
        display: inline-block;
        margin-bottom: 3.5rem;
    }

    &--1 {
        background-image: url(../images/slide1.png);
        background-attachment: scroll;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.slideshow-container--right {
    position: relative;
    & .slide {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 5rem 10rem;
    }
}

.dot__container {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    margin: 0 auto 5rem auto;
    width: 11.5rem;
}

.dots {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: #868686;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:not(:last-child) {
        margin-right: 1.5rem;
    }

    &--active {
        background-color: $color-black;
    }

    &:hover {
        background-color: $color-black;
    }
}