.hero {
    height: 100%;
    width: 100%;
    margin-top: 7rem;

    & .wrapper {
        height: 100%;
        width: 100%;
    }
}

.limited-edition {
    padding: 10rem 0rem;
}

.top-picks {
    padding: 10rem 0rem;

    & .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
}

.responsible-thinking {
    background-image: url(../../images/bg2.png);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20rem 0rem;

    & .wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}