.hero {
    height: 100%;
    width: 100%;

    & .wrapper {
        height: 100%;
        width: 100%;
    }
}

.limited-edition {
    padding: 10rem 0rem;
}

.top-picks {
    padding: 10rem 0rem;

    & .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
}

.responsible-thinking {
    background-image: url(../../images/bg2.png);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20rem 0rem;

    & .wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

.more-info {
    padding: 5rem 0rem;
    background-color: $color-grey;

    & .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        &::after {
            content: '';
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            width: 1px;
            background-color: rgba($color-black, .2);

        }
    }

    &__item {
        text-align: center;
        width: 40%;
    }
}